<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Product List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="my-4">Lista de produtos</h1>
    <a href="/products/new" class="btn btn-primary mb-3">Adicionar produto</a>
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Quantidade</th>
            <th>Preço</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.name}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.quantity}"></td>
            <td th:text="${product.price}"></td>
            <td>
                <a th:href="@{/products/{id}(id=${product.id})}" class="btn btn-info btn-sm">Ver</a>
                <a th:href="@{/products/{id}/edit(id=${product.id})}" class="btn btn-warning btn-sm">Editar</a>
                <a th:href="@{/products/{id}/delete(id=${product.id})}" class="btn btn-danger btn-sm">Excluir</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popper's/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>